<mat-accordion *ngIf="livros.length > 0">
  <mat-expansion-panel *ngFor = "let livro of livros">
    <mat-expansion-panel-header>
      Titulo: {{livro.titulo}}
    </mat-expansion-panel-header>
    <p>Autor: {{livro.autor}}</p>
    <p>Número de paginas: {{livro.paginas}}</p>
    <mat-action-row>
      <button mat-button color="primary"> Editar</button>
      <button mat-button color="warn"> Remover</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<p class="mat-body-1" style="text-align: center;" *ngIf="livros.length <= 0">Nenhum Cliente Cadastrado</p>
